<div class="panel panel-primary">
    <div class="panel-heading" ng-bind="titulo"></div>
    <div class="panel-body">
        <form name="caFormCrud"
              ng-submit="onSalvar()"
              novalidate>

            <div ng-transclude></div>

            <div class="row">
                <div class="col-sm-12">
                    <button type="submit"
                            class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        SALVAR
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            ng-click="onLimpar()">
                        <i class="fa fa-eraser"></i>
                        LIMPAR
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="onExcluir()">
                        <i class="fa fa-trash-o"></i>
                        EXCLUIR
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>